body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  color: red;
  
}

h1 {
  
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  text-transform: uppercase;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
  
  
}

.tile {
  color: yellow;
  font-size: 3em;
  display: grid;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid rgb(56, 244, 4);
}

.bottom-border {
  border-bottom: 0.2em solid #4eee04;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.2;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.2;
}

.strike {
  position: absolute;
  background-color: blue;
  border: 3px solid #fff;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}

.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}

.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}

.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}

.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}

.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

.game-over {
  text-align: center;
  border: #0b0b0b 8px;
  border-style: groove;
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}

.reset-button {
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(238, 7, 88);
  border-style: dashed;
  color: rgb(158, 239, 6);
  border-radius: 20px;
  width: 100%;
  font-size: 1.5em;
  
}